:root {
  --bg-primary: #5f2030;
  --color-secondary: #5e7a71;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: #02070A;

}

::-webkit-scrollbar-thumb {
  background-color:#cfc33b;
  border-radius: 0.5rem;
}
